@import "main.scss";

#brands{
  height: 50vh;
  color: $white;
  background-color: $black;

  .title{
    font-weight: bold;
    position: relative;
    color: $white;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }

  .subtitle{
    color: $white;
  }

  img{
    width: 30vw;
  }

  .ionos-partner{
    max-width: 20%;
    margin-left: 50px;
  }
}

@media screen and(max-width:992px) {
  #brands{
    height: auto !important;

    .title{
      font-size: 2em !important;
    }
    img{
      width: 70vw;
      filter: grayscale(0) !important;
    }

    .ionos-partner{
      margin-top: 50px;
      max-width: 50% !important;
    }
  }
}
