@import "main.scss";

#contact{
  height: $height;
  background-color: $black;

  .title{
    font-weight: bold;
    position: relative;
    // color: $black;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }

  .box-contact{
    .box-info-title{
      font-size: 1.8em;
      span{
        color: $violet;
      }
    }

    .box-info{
      font-size: 1.2em;
    }
  }

  .required{
    background-color: transparent;
    color: $red;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none !important;
  }

  input, textarea{
    &:focus{
      box-shadow: none !important;
    }
  }

  .send-btn{
    background-color: $violet;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
  }
}

@media screen and(max-width:992px) {
  #contact{
    height: auto !important;

    .title{
      font-size: 2em !important;
    }

    .box-contact{
      .box-info-title{
        font-size: 1.5em;
      }

      .box-info{
        font-size: 1em;
      }
    }
  }
}
