@import "./main.scss";

#devis{
  background-color: $white;
  // height: 70vh;
  height: auto;
  color: $black;

  p{
    color: $black;
  }

  .title{
    font-weight: bold;
    position: relative;
    color: $black;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }
  .devis-description{
    min-height: 50vh;

    h3{
      color: $black;
    }
  }

  .btn-primary{
    background-color: $violet !important;
    width: 100% !important;
    outline: none;
    border: none;


    &:hover{
      outline: none;
      border: none;
    }
  }

  option{
    color: $black !important;
  }
}

@media screen and (max-width:992px) {
  #devis{
    height: auto !important;
    .title{
      font-size: 2em;
    }

    .devis-description{
      min-height: auto;
    }
  }
}
