@import "main.scss";

#home{
  height: $height_max !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black !important;
  background-image: url("../img/landing_background.png");

  .title-container{
    height: 60%;
    .main-logo{
      max-height: 15vh;
    }
    .main-title{
      font-size: 2.5em;
      font-family: Ubuntu;
      font-weight: bold;
      text-transform: uppercase;
    }
    .main-subtitle{
      font-size: 1.2em;
      font-family: Ubuntu;
      font-weight: bold;
    }
  }

  .catch-container{
    // margin-top: 10vh;
    .catch-line{
      font-size: 1.5em;
    }
    .question-line{
      font-weight: bold;
    }
    .quote-link{
      border: 2px solid $white;
      border-radius: 8px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      color: $white;
      transition: .3s;
      font-weight: bold;

      &:hover{
        background-color: $white;
        color: $violet;

      }
    }
  }
}

@media screen and (max-width:992px) {
  .title-container{
    height: 40% !important;

    .main-title{
      font-size: 1.8em !important;
    }
    .main-subtitle{
      font-size: 1em !important;
    }
  }

  .catch-container{
    .catch-line{
      font-size: 1.5em !important;
    }
    .quote-link{
      border-radius: 8px;
      padding: 10px 10px 10px 10px;
    }
  }
}
