@import "main.scss";

button{
  background-color: transparent;
  border: none;

  &:focus{
    border: none !important;
    outline: none !important;
  }
}

.lang-item{
  &:focus{
    border: none !important;
    outline: none !important;
  }
}
