@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

$black: #121212;
$grey: #2d2d2d;
$violet: #9146FF;
$white: #FCFCFC;
$red: #e64c3c;
$green: #2ecc71;
$height: 89.857142857vh;
$height_max: 92.857142857vh;

*{
  font-family: Montserrat !important;
  color: $white;
}

.section{
  min-height: 50vh !important;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white !important;
  color: $black !important;
}

// :target {
//   display: block;
//   position: relative;
//   top: -120px;
//   // visibility: hidden;
// }

// #devis:before{
//   content: 'ssss';
//   display: block;
//   // position: relative;
//   width: 0;
//   height: 5em;
//   margin-top: -100px
// }

#devis, #packs, #workpreview, #services{
  scroll-margin-top: 70px;
}

.white{
  color: $white !important;
}

.black{
  color: $black !important;
}

#footer{
  height: 3vh;
  background-color: $violet;
  color: $white;

  span{
    font-family: Montserrat !important;
    color: $white;
    font-weight: normal !important;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: Ubuntu !important;
  font-weight: 600;
  text-transform: uppercase;
}

label{
  color: $black;
}

span{
  font-weight: bold !important;
}

@media screen and (max-width:992px) {
  #footer{
    height: auto !important;
  }
}
