@import "./main.scss";

#packs{
  background-color: $black;
  height: 100vh;
  height: auto;

  .disclaimer{
    color: rgba($white, .5);
  }

  .title{
    font-weight: bold;
    color: $white;
    position: relative;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }
}
