@import "main.scss";

#separator{
  height: 20vh;
  background-color: $black;

  .quote{
    font-size: 1.2em;
  }
}

@media screen and (max-width:992px) {
  #separator{
    height: 10vh !important;

    .quote{
      font-size: .8em !important;
    }
  }
}
