@import "main.scss";

#services{
  @extend .section;

  .mockup{
    max-width: 70%;
  }

  .service-title{
    font-weight: bold;
    color: $black;
    position: relative;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }

  .catch-phrase{
    font-size: 1.8em;
    color: $black;
  }

  .service-box{
    // border-radius: 8px;
    border-left: 3px solid $violet;

    .icon-box{
      width: 20%;
      p{
        font-size: 2em;
        color: $black;
      }
    }
    .text-box{
      width: 80%;
      p{
        font-size: 1.5em;
        color: $black;
      }
    }

  }
}

@media screen and (max-width:992px) {
  .mockup{
    max-width: 100%!important;
  }
  .catch-phrase{
    font-size: 1.3em !important;
  }
  .service-box{
    border: none !important;
    // border-bottom: 2px solid $violet !important;

    .icon-box{
      width: 100%!important;
      p{
        font-size: 2em;
      }
    }
    .text-box{
      width: 100% !important;
      p{
        font-size: 1.2em !important;
      }
    }

  }
}
