@import "main.scss";

#workpreview{
  .workpreview-title{
    font-weight: bold;
    color: $black;
    position: relative;
    text-transform: uppercase;

    &::after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      height: 4px ;
      background-color: $violet;
      width: 30%;
      transition: .3s;
    }

    &:hover::after{
      width: 100%;
    }
  }

  .workpreview-subtitle{
    color: $black;
  }
}
