@import "../main.scss";

.pack{
  height: 75vh;
  border-radius: 10px;
  border: 2px solid $violet;
  width: 400px;

  .pack-title{
    font-size: 1.5em;
    font-weight: bold;
  }

  .pack-tip{
    // border-top: 1px solid rgba($white, .2);
    // border-bottom: 1px solid rgba($white, .2);
    hr{
      background-color: rgba($white, .2);
    }
  }

  .pack-price{
    font-size: 2em;

  }
  sup{
    font-size: .5em;
  }

  .annual-tag{
    font-size: .8em;
  }

  .recomanded-img{
    max-width: 100px;
  }

  .pack-button{
    background-color: $violet;
    border-radius: 5px;
    color: $white;

    &:hover{
      color: $white;
      text-decoration: none;
    }
  }
}

@media screen and (max-width:992px) {
  .pack{
    width: 350px;
    height: auto;
  }
}
