@import "../main.scss";

.workcard{
  border: 2px solid $violet;
  border-radius: 8px;

  hr{
    width: 20%;
  }

  .workcard-title{
    font-weight: bold;
    text-transform: uppercase;
  }

  .workcard-image{
    max-width: 100%;
    border-radius: 6px 6px 0 0;
  }

  .workcard-link{
    color: $violet !important;
    font-weight: bold;
  }
}
